@import '../../../defaults';

.array-container {
    padding-left: 20px;
    padding-top: 20px;

    .array-container-header {
        font-weight: bold;
        color: $default-active-bg;
        padding-bottom: 3px;

        span {
            vertical-align: middle;
            font-size: 14px;
            cursor: pointer;
        }
    }

    .array-container-body {
        height: 100px;
        overflow: auto;
        border: 1px solid $standard-border-color;

        .array-container-item {
            cursor: pointer;
            line-height: 30px;
            padding-left: 10px;
        }

        .array-container-selected {
            background-color: $default-active-bg;
        }

        .array-container-item:hover {
            background-color: $light-font-0;
        }
    }
}
