@import '../../../defaults';

.boolean {
    display: flex;
    flex-direction: row;
    line-height: 30px;
    border: 1px solid $standard-border-color;
    width: 99%;

    div {
        flex: .5;
        text-align: center;
        cursor: pointer;
    }

    .selected {
        background-color: $default-active-bg;
    }

}
