.json-viewer {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    min-height: 100px;

    .json-content {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 5px 0px 0px 10px;
        font-family: courier;
        font-size: 13px;
        display: flex;
        flex-direction: column;

        pre {
            flex: 1;
        }
    }

    .json-controls {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 30px;
    }
}
