@import "../defaults";

.relationship-picker {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;

    .header {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        height: 35px;

        img {
            vertical-align: middle;
        }
    }

    .content {
        flex: 1;
        overflow: auto;
        
        .item {
            padding-left: 20px;
            padding-top: 10px;
            cursor: pointer;
            font-weight: bold;
            font-family: $default-font-family;
            line-height: 30px;

            img {
                vertical-align: middle;
            }

            img.src-image {
                padding-right: 5px;
            }

            img.target-image {
                padding-right: 5px;
                padding-left: 5px;
            }

            .rel-type {
                color: $default-active-bg;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}
