$default-font-family:  'Alegreya Sans SC';

//colors
$default-active-bg: #46a0f5;
$error-font: #d31d18;
$light-font-0: #e1e3e6;
$gray-font-0: #c8c5c5;
$dark-font-0: #000;
$standard-border-color: #c5cbd2;
$lt-gray-bg: #f1f3f5;

//define z-index for app
$panel-mask-index: 5;
$panel-index: 10;
$growl-index: 15;
